.container {
  position: relative;
  background-image: url('/quarkstudio.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
}

.content {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  width: 100%;
  color: white;
}

.h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.form {
  width: 100%;
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formInput, .formTextarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.formInput:focus, .formTextarea:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.formTextarea {
  min-height: 150px;
  resize: vertical;
}

.formButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-items: center;
  
}

.formButton:hover {
  background-color: #0056b3;
}
